<div>
  Resultado {{correctAnswers}} / {{totalQuestions}}
</div>

<ng-container *ngFor="let pregunta of this.preguntas.get()">
  <div class="container cinta mt-4">
    <app-pregunta [texto]="pregunta.texto"></app-pregunta>
  </div>
  <div class="container">
    <app-opcion
      class="mt-4 p-2"
      *ngFor="let opcion of pregunta.opciones.getOpciones(); index as i"
      [correlativo]="i+1"
      [opcion]="opcion"
    ></app-opcion>
  </div>
</ng-container>

<div class="container cinta my-4">
  <div class="row mx-5">
    <div class="col-12 d-flex justify-content-end">
      <button (click)="irMain()" class="my-4" mat-raised-button color="primary">
        Regresar
      </button>
    </div>
  </div>
</div>
