<div class="card opcion row">
  <div
    class="col-12"
    [class.selected]="clases.selected"
    [class.error]="clases.error"
    [class.correct]="clases.correct"
  >
    <div class="mt-2 ps-2">
      <h5 class="card-title">
        {{correlativo}}
        <span *ngIf="clases.correct" class="badge">
          <i class="material-icons correct">check_circle</i>
        </span>
        <span *ngIf="clases.error" class="badge">
          <i class="material-icons error">clear</i>
        </span>
      </h5>
      <span> {{opcion.texto}}</span>
    </div>
  </div>
</div>
