<div class="card opcion row">
  <div
    class="col-12"
    [class.selected]="opcion.isSelectedResponseByUser()"
    [class.error]="class.error"
    [class.correct]="class.correct"
    [class.forget]="class.forget"
  >
    <div class="mt-2 ps-2">
      <h5 class="card-title">
        {{correlativo}}
        <span *ngIf="class.correct" class="badge">
          <i class="material-icons correct">check_circle</i>
        </span>
        <span *ngIf="class.error" class="badge">
          <i class="material-icons error">clear</i>
        </span>
        <span *ngIf="class.forget" class="badge">
          <i class="material-icons forget">warning</i>
        </span>
      </h5>
      <span> {{opcion.texto}}</span>
    </div>
  </div>
</div>
