<form>
  <div class="mb-3">
    <button (click)="addQuestionModel()">Agregar Pregunta</button>
  </div>
  <hr />
  <div class="mb-3">
    <label class="form-label" for="codeQuiz">Codigo del Quiz: </label>
    <input
      class="form-control"
      type="text"
      id="codeQuiz"
      placeholder="Inserte el code del quiz"
    />
  </div>
  <ng-container *ngFor="let pregunta of this.model.get(); let h = index">
    <div class="mb-3">
      <label class="form-label" [for]="'textQuestion' + h">
        Pregunta {{ h + 1}}:
      </label>
      <input
        class="form-control"
        type="text"
        [id]="'textQuestion' + h"
        placeholder="Inserte la pregunta"
        name="pregunta.texto"
        [(ngModel)]="pregunta.texto"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" [for]="'typeQuestion' + h"
        >Tipo de pregunta:
      </label>
      <input
        class="form-control"
        type="text"
        [id]="'typeQuestion' + h"
        placeholder="Inserte el tipo de pregunta"
        name="pregunta.tipo"
        [(ngModel)]="pregunta.tipo"
      />
    </div>
    <div class="mb-3">
      <button (click)="addOptionModel(h)">Agregar Opcion</button>
    </div>

    <ng-container *ngFor="let opcion of pregunta.opciones.get(); let i = index">
      <div class="mb-3">
        <label class="form-label" [for]="'textOption' + i"
          >Opcion {{i + 1}}:
        </label>
        <input
          class="form-control"
          type="text"
          [id]="'textOption' + i"
          placeholder="Inserte la opcion"
          name="opcion.texto"
          [(ngModel)]="opcion.texto"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" [for]="'responseOption' + i"
          >Respuesta:
        </label>
        <input
          class="form-control"
          type="text"
          [id]="'responseOption' + i"
          placeholder="Inserte la respuesta de la opcion"
          name="opcion.respuesta"
          [(ngModel)]="opcion.respuesta"
        />
      </div>
    </ng-container>
  </ng-container>
  <hr />
  <div class="mb-3">
    <button (click)="sendQuiz()">Enviar Quiz</button>
  </div>
  {{ test | json}}
</form>
<!-- 
  ERROR
  If ngModel is used within a form tag, either the name attribute must be set or the for
  (Debido a que usa ngModel dentro de la etiqueta form)
  SOLUCIÓN
  Añadir name con el mismo valor que  [(ngModel)] para cada control input
-->
