.container.cinta {
  background-color: #ffffff;
  max-width: 100%;
  border-top: 3px #caf7e3 solid;
  border-bottom: 3px #caf7e3 solid;
}

.card.opcion:hover {
  cursor: pointer;
}

.selected {
  background-color: #e1e6e4;
}

.error {
  background-color: #f59999;
}

.correct {
  background-color: #caf7e3;
}
